$main-accent-color: rgba(24, 139, 241, 1);
$main-bg-color: rgba(255, 255, 255, 1);
$secondary-bg-color: rgba(241, 241, 241, 1);
$third-bg-color: rgba(221, 221, 221, 1);
$accent-color: rgba(46, 190, 55, 1);

$bg-opacity-color: rgba(0,0,0,.2);

$nav-border-color: rgba(255,255,255,.3);
$nav-text-color: rgba(255,255,255,.8);

$main-font-color: rgba(66, 74, 84, 1);
$secondary-font-color: rgba(66, 74, 84, 1);

$btn-hover: rgba(32, 133, 38, 1);
$btn-box-shadow: rgba(0, 0, 0, 0.08);
$btn-secondary-box-shadow: rgba(0, 0, 0, 0.24);
