<footer class="col-12">
  <div class="col-4 offset-1 offset-md-2 footer-menu">
    <!-- < %= link_to "Políticas de Privacidade", privacy_policies_path %> -->
    
  </div>

  <div class="col-5 offset-6 offset-md-5">
    <p class="developed-by">Desenvolvido por Estácio TADS<br></p>
  </div>

  <div class="col-4 offset-1 offset-md-2">
    <p class="copyright">© Copyright 2019 por TiConsultoria. Todos os direitos reservados.<br></p>
  </div>
</footer>
