<nav class="navbar navbar-home navbar-expand-lg navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#topo" class="anchorLink active nav-link text-uppercase" data-hover="para você">para você</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase anchorLink" href="#todo" data-hover="todo">seila</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase anchorLink" href="#todo" data-hover="todo">seila</a>
      </li>
      <li class="nav-item active only-mobile">
      </li>
    </ul>
    <div class="info">
      <span>contato:<br /></span>
      contato@ticonsultoria.com
    </div>
  </div>
</nav>
