<nav class="navbar navbar-expand-lg navbar-dark fixed-top menu-scroll">
  <div class="container">
    <a class="navbar-brand" href='<%= landing_page_index_path %>'><%= image_tag("logo_h.svg", :alt => "Logo TiConsultoria") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-uppercase" href='<%= landing_page_index_path %>'>home</a>
        </li>
      </ul>
      <div class="info">
        <span>contato:<br /></span>
        contato@ticonsultoria.com
      </div>
      <div class="info">
        <span>telefone:<br /></span>
        (67) 99999-9999
      </div>
    </div>
  </div>
</nav>
